body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgba(232, 104, 24, 0.342);
}

header {
    background: linear-gradient(rgba(255, 47, 0, 0.767), rgba(243, 8, 8, 0.342), rgba(232, 104, 24, 0.342));
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex; 
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(255, 34, 0);
    text-decoration: underline;
}

.about-us {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    background: rgba(239, 103, 19, 0.342);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.about-us h2 {
    text-align: center;
    color: #E85C1F;
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}


footer {
    text-align: center;
    background: #333;
    color: #ddd;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}
