body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgba(232, 104, 24, 0.342);
}

.nav-links {
    display: flex; 
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(255, 34, 0);
    text-decoration: underline;
}

header {
    background: linear-gradient(rgba(255, 47, 0, 0.767), rgba(243, 8, 8, 0.342), rgba(232, 104, 24, 0.342));
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}

footer {
    text-align: center;
    background: #333;
    color: #ddd;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}


.cart-container {
    width: 80%;
    margin: 20px auto;
    background: rgba(239, 147, 60, 0.406);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.cart-item img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 30px;
}

.cart-details {
    flex-grow: 1;
    margin-left: 25px;
}
.cart-details h3 {
    margin: 0;
    font-size: 18px;
}
.cart-details p {
    margin: 5px;
}

.remove-btn {
    background: green;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
}

.remove-btn:hover {
    background: rgb(6, 106, 6);
}

.checkout {
    background: rgba(214, 39, 39, 0.854);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 7px;
}

.checkout a {
    text-decoration: none;
    color: white;
}

.checkout:hover {
    background: rgb(255, 34, 0);
}