body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgba(232, 104, 24, 0.342);
}

header {
    background: linear-gradient(rgba(255, 47, 0, 0.767), rgba(243, 8, 8, 0.342), rgba(232, 104, 24, 0.342));
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex; 
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(255, 34, 0);
    text-decoration: underline;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 600px;
}

.contact-info {
    background: rgba(239, 103, 19, 0.342);;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px; 
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-form {
    background: linear-gradient(rgba(255, 47, 0, 0.767), rgba(243, 8, 8, 0.342), rgba(232, 104, 24, 0.342));
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darkred;
}

#stuff {
    width: 80%;
}

footer {
    text-align: center;
    background: #333;
    color: #ddd;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}
