body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgba(232, 104, 24, 0.342);
}

header {
    background: linear-gradient(rgba(255, 47, 0, 0.767), rgba(243, 8, 8, 0.342), rgba(232, 104, 24, 0.342));
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex; 
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(255, 34, 0);
    text-decoration: underline;
}

main {
    max-width: 85%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(239, 103, 19, 0.342);;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: rgb(181, 77, 13);
}

p, ul, ol {
    font-size: 16px;
    line-height: 1.6;
}

ul, ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: #ddd;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}
